<section class="level">
  <div class="level-left">
    <div>
      <h1 class="title">
        Dance Party
      </h1>
      <p class="subtitle">
        Your simple crowdsourced party DJ
      </p>
    </div>
  </div>
  <div class="level-right">
    <button class="button">Join a Party</button>
  </div>
</section>

<section class="hero is-large">
  <div class="hero-body">
    <div class="layer">
      <div class="layer-item buttons is-centered">
        <a class="is-centered button is-large is-info" routerLink="/owner" routerLinkActive="active">Start a Party!</a>
      </div>
    </div>
  </div>
</section>
