.fa-pencil-alt {
  font-size: 1.25rem;
  color: grey;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

@media screen and (max-width: 800px) {
  section {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (min-width: 1200px) {
  .qrcode {
    margin: 100px;
  }
}

.main-pane {
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
}

ul {
  li {
    list-style: none;
    margin: 5px;
  }
}

section {
  height: 90vh;
}
